ul#results{border: 2px ridge maroon; background-color: #ffffcc; padding: 0.25em 1.5em; margin-left: 0}
#results li.pass {color: #006400;}
#results li.fail {color: #dc143c; text-decoration: line-through;}
